{% extends "base.html" %}
{% load static %}
{% block projectactive %} active {% endblock projectactive %}
{% block title %} Project {% endblock title %}

      {% block body %}
      <div class="container2 my-3">
        <h2 class="text-center">All Our Project</h2>
        <div class="row my-3">
          <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="https://source.unsplash.com/user/erondu/1900x700/?Designer,html,css" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Designer</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="row">
          <div class="card" style="width: 18rem;">
            <img src="https://source.unsplash.com/user/erondu/1900x700/?devoloper,python" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Devoloper</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="row">
          <div class="card" style="width: 18rem;">
            <img src="https://source.unsplash.com/user/erondu/1900x700/?Entertain,fun class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Entertainer</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
      </div>
      {% endblock body %}